/* You can add global styles to this file, and also import other style files */
@import '~foundation-sites/scss/foundation';
@import './sass/list-group.scss';

@include foundation-everything(true);
@include foundation-flex-grid;

body {
  background: $medium-gray;
}

.header {
  padding-top: 100px;
  padding-bottom: 50px;
  background: $white;
}

.lista {
  padding: 40px;
}

.button-eliminar {
  margin: 0;
}

.aligner {
  display: flex;
  align-items: center;
}

.current {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.randomizr {
  transition: all 0.5s ease-out;
}

.randomizr-li {
  position: relative;
}

.randomizr-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.display-block {
  display: block;
}
